# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
mise.local.toml
mise.*.local.toml

# Editor/IDE
# .idea/
# .vscode/

# Builds
./songdock

# Database files
songs.db*

# Development artwork uploads
/uploads/artwork/*
